In [5]:
# Adding libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [9]:
# Adding data

species = pd.read_csv("species_info.csv", encoding='utf-8')
observations = pd.read_csv("observations.csv", encoding='utf-8')

print(species.head())
print("---------------------------------")
print(observations.head())

  category                scientific_name  \
0   Mammal  Clethrionomys gapperi gapperi
1   Mammal                      Bos bison
2   Mammal                     Bos taurus
3   Mammal                     Ovis aries
4   Mammal                 Cervus elaphus

                                        common_names conservation_status
0                           Gapper's Red-Backed Vole                 NaN
1                              American Bison, Bison                 NaN
2  Aurochs, Aurochs, Domestic Cattle (Feral), Dom...                 NaN
3  Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)                 NaN
4                                      Wapiti Or Elk                 NaN
---------------------------------
            scientific_name                            park_name  observations
0        Vicia benghalensis  Great Smoky Mountains National Park            68
1            Neovison vison  Great Smoky Mountains National Park            77
2         Prunus subcordata               Yosemite National Park           138
3      Abutilon theophrasti                  Bryce National Park            84
4  Githopsis specularioides  Great Smoky Mountains National Park            85

#Observations

##SPECIES
Category, Scientific name, Common name, Conservation Status

## Observations
Scientific_name, park name, observations

Seems that i can use scientific name as id.
there are several conservations_status

In [12]:
print(species.columns)
print(observations.columns)

Index(['category', 'scientific_name', 'common_names', 'conservation_status'], dtype='object')
Index(['scientific_name', 'park_name', 'observations'], dtype='object')

In [13]:
merged = pd.merge(species, observations, on="scientific_name")
print(merged.head())

  category                scientific_name              common_names  \
0   Mammal  Clethrionomys gapperi gapperi  Gapper's Red-Backed Vole
1   Mammal  Clethrionomys gapperi gapperi  Gapper's Red-Backed Vole
2   Mammal  Clethrionomys gapperi gapperi  Gapper's Red-Backed Vole
3   Mammal  Clethrionomys gapperi gapperi  Gapper's Red-Backed Vole
4   Mammal                      Bos bison     American Bison, Bison

  conservation_status                            park_name  observations
0                 NaN                  Bryce National Park           130
1                 NaN            Yellowstone National Park           270
2                 NaN  Great Smoky Mountains National Park            98
3                 NaN               Yosemite National Park           117
4                 NaN               Yosemite National Park           128

In [14]:
print(merged['conservation_status'].value_counts(dropna=False))

conservation_status
NaN                   24752
Species of Concern      732
Endangered               80
Threatened               44
In Recovery              24
Name: count, dtype: int64

In [15]:
print(merged.info)

<bound method DataFrame.info of              category                scientific_name  \
0              Mammal  Clethrionomys gapperi gapperi
1              Mammal  Clethrionomys gapperi gapperi
2              Mammal  Clethrionomys gapperi gapperi
3              Mammal  Clethrionomys gapperi gapperi
4              Mammal                      Bos bison
...               ...                            ...
25627  Vascular Plant              Vitis californica
25628  Vascular Plant            Tribulus terrestris
25629  Vascular Plant            Tribulus terrestris
25630  Vascular Plant            Tribulus terrestris
25631  Vascular Plant            Tribulus terrestris

                                            common_names conservation_status  \
0                               Gapper's Red-Backed Vole                 NaN
1                               Gapper's Red-Backed Vole                 NaN
2                               Gapper's Red-Backed Vole                 NaN
3                               Gapper's Red-Backed Vole                 NaN
4                                  American Bison, Bison                 NaN
...                                                  ...                 ...
25627            California Grape, California Wild Grape                 NaN
25628  Bullhead, Caltrop, Goathead, Mexican Sandbur, ...                 NaN
25629  Bullhead, Caltrop, Goathead, Mexican Sandbur, ...                 NaN
25630  Bullhead, Caltrop, Goathead, Mexican Sandbur, ...                 NaN
25631  Bullhead, Caltrop, Goathead, Mexican Sandbur, ...                 NaN

                                 park_name  observations
0                      Bryce National Park           130
1                Yellowstone National Park           270
2      Great Smoky Mountains National Park            98
3                   Yosemite National Park           117
4                   Yosemite National Park           128
...                                    ...           ...
25627            Yellowstone National Park           237
25628  Great Smoky Mountains National Park            50
25629            Yellowstone National Park           239
25630                  Bryce National Park           111
25631               Yosemite National Park           156

[25632 rows x 6 columns]>